@import url('https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css');
.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.button {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 21px
}

.sidebarStyle {
    display: inline-block;
    position: absolute;
    border-radius: 3px;
    left: 250px;
    background-color: #404040;
    color: #ffffff;
    padding: 6px 24px;
    font-weight: bold;
}